<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FE FW PoC App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="site-header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="" class="navbar-brand">markdown^</a>
          </div>
          <ul class="nav navbar-nav navbar-right text-capitalize">
            <li><a href="">browse documents</a></li>
            <li><a href="" class="btn btn-primary">login / register</a></li>
            <li><a href="" class="btn btn-success">+ new document</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="site-main container">
      <div class="documents row">
        <div class="document col-lg-4 col-md-6 col-sm-12">
          <a href=""><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></a>
          <h5>By <i>John Doe</i>, Last edited at <i>12/22/2016</i></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nisi veritatis praesentium dolore. Maxime ex ratione architecto reiciendis debitis explicabo veritatis quam assumenda libero dicta...</p>
        </div>

        <div class="document col-lg-4 col-md-6 col-sm-12">
          <a href=""><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></a>
          <h5>By <i>John Doe</i>, Last edited at <i>12/22/2016</i></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nisi veritatis praesentium dolore. Maxime ex ratione architecto reiciendis debitis explicabo veritatis quam assumenda libero dicta...</p>
        </div>

        <div class="document col-lg-4 col-md-6 col-sm-12">
          <a href=""><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></a>
          <h5>By <i>John Doe</i>, Last edited at <i>12/22/2016</i></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nisi veritatis praesentium dolore. Maxime ex ratione architecto reiciendis debitis explicabo veritatis quam assumenda libero dicta...</p>
        </div>

        <div class="document col-lg-4 col-md-6 col-sm-12">
          <a href=""><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></a>
          <h5>By <i>John Doe</i>, Last edited at <i>12/22/2016</i></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nisi veritatis praesentium dolore. Maxime ex ratione architecto reiciendis debitis explicabo veritatis quam assumenda libero dicta...</p>
        </div>

        <div class="document col-lg-4 col-md-6 col-sm-12">
          <a href=""><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></a>
          <h5>By <i>John Doe</i>, Last edited at <i>12/22/2016</i></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nisi veritatis praesentium dolore. Maxime ex ratione architecto reiciendis debitis explicabo veritatis quam assumenda libero dicta...</p>
        </div>

        <div class="document col-lg-4 col-md-6 col-sm-12">
          <a href=""><h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3></a>
          <h5>By <i>John Doe</i>, Last edited at <i>12/22/2016</i></h5>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore nisi veritatis praesentium dolore. Maxime ex ratione architecto reiciendis debitis explicabo veritatis quam assumenda libero dicta...</p>
        </div>
      </div>

      <div class="browse-link row text-center">
        <span class="spinner"><i class="fa fa-spinner"></i>Loading...</span>
      </div>
    </main>

    <footer class="site-footer container-fluid text-center">
      <p>made with <i class="fa fa-heart-o"></i> by folks at <a href="">Hidden Founders</a></p>
    </footer>
  </body>
</html>
