<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>FE FW PoC App</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico in the root directory -->

    <link rel="stylesheet" href="assets/css/font-awesome.css">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/main.css">
  </head>
  <body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <header class="site-header">
      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="" class="navbar-brand">markdown^</a>
          </div>
          <ul class="nav navbar-nav navbar-right text-capitalize">
            <li><a href="">browse documents</a></li>
            <li><a href="">my documents</a></li>
            <li><a href="" class="btn btn-primary">logout</a></li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="site-main container">
      <div class="document">
        <h3>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h3>
        <h5>By <i>John Doe</i>, Last edited at <i>12/22/2016</i></h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel illum voluptas eaque totam error beatae at qui cum nam iste consectetur eos ab laborum, doloremque molestiae deserunt ea libero quibusdam aliquid officia similique veniam. Rem tempora voluptatibus unde ab eligendi fugit similique, fugiat quos? Dolore, et. Eos, esse dignissimos unde. Ducimus amet perferendis aperiam nihil, temporibus fugiat, consectetur sunt distinctio voluptas, est suscipit ab vel impedit. Consectetur adipisci accusamus perspiciatis sapiente eius voluptates alias, ea enim officia dolor repellat aperiam illo sed illum aliquam quos sunt quidem doloribus perferendis totam quaerat incidunt similique est natus officiis. Soluta porro cupiditate et?</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam dolorum, natus minus quam dignissimos, fugit eius? Commodi maiores amet iure consequatur accusamus non laudantium at, corrupti earum eaque voluptas blanditiis, ipsa temporibus voluptatum sit praesentium aperiam eligendi repellat laborum in odio, saepe totam doloribus. Non ea enim consequuntur nostrum fuga.</p>
      </div>
    </main>

    <footer class="site-footer container-fluid text-center">
      <p>made with <i class="fa fa-heart-o"></i> by folks at <a href="">Hidden Founders</a></p>
    </footer>
  </body>
</html>
