 <main class="site-main">
      <div class="auth-container">
        <div class="auth-form container">
          <h1 class="text-center">Register</h1>

          <form class="form well">
            <div class="form-group">
              <label for="register-full-name">Full name</label>
              <input type="email" class="form-control" id="register-full-name" placeholder="Full name">
            </div>
            <div class="form-group">
              <label for="register-email-address">Email address</label>
              <input type="email" class="form-control" id="register-email-address" placeholder="Email">
            </div>
            <div class="form-group">
              <label for="register-password">Password</label>
              <input type="password" class="form-control" id="register-password" placeholder="Password">
            </div>
            <div class="form-group">
              <label for="register-confirm-password">Confirm password</label>
              <input type="password" class="form-control" id="register-confirm-password" placeholder="Confirm password">
            </div>
            <button type="submit" class="btn btn-default btn-block">REGISTER</button>
          </form>

          <div class="well text-center">
            <a href="">Already have an account? click here.</a>
          </div>
        </div>
      </div>
    </main>